body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#camera-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 50%;
}

#activate-camera-btn {
    padding: 16px 32px;
    font-size: 18px;
    border-radius: 8px;
}
